/* Verhindert die Auswahl von Text auf der gesamten Seite */
body {
    user-select: none; /* F端r moderne Browser */
}

/* F端r Webkit-Browser wie Chrome, Safari und Opera */
body {
    -webkit-user-select: none;
}

/* F端r Firefox */
body {
    -moz-user-select: none;
}

/* F端r Internet Explorer */
body {
    -ms-user-select: none;
}

/* Verhindert das Ziehen von Bildern */


