@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

body {
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #303031;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh; /* Nimmt die gesamte Höhe des Ansichtsfensters ein */ /* Optional: fügt einen Abstand um den Inhalt herum hinzu */
    box-sizing: border-box; /* Stellt sicher, dass das Padding in der Höhe enthalten ist */
}

#buttons-container {
    position: absolute;
    bottom: -100%;
    left: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

#buttons-container.show {
    bottom: 10%;
    opacity: 1;
}

.progress-bar-wrapper {
    width: 90%;
    margin: 1em auto;
}

.progress-bar {
    background-color: #484848;
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
}

.progress {
    background: #5EFC8D;
    height: 100%;
    width: 0%;
    transition: width 1s ease-in-out;
    border-radius: 20px;
}
button {
    background-color: #e48d45;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    width: 90%; /* Breite auf 90% der Seite eingestellt */
    font-family: "Dosis", sans-serif;
    outline: 2px solid #484848;
    outline-offset: -4px;
    margin-bottom: 2em;
}

.Coins {
    display: table; /* Stellt sicher, dass das Element nur so breit ist wie der Inhalt */
    font-size: 1.2em;
    color: #e2d515;
    margin-bottom: 1em;
    margin-left: 5%;
    padding: 10px;
    border-radius: 20px;
    outline: 2px solid #e2d515;
    white-space: nowrap; /* Verhindert Zeilenumbruch innerhalb des Elements */
    width:calc(42.5% - 20px);
}

.Coins img, .Coins a {
    display: table-cell; /* Macht die Kinder-Elemente zu Zellen */
    vertical-align: middle; /* Stellt sicher, dass die Inhalte vertikal mittig ausgerichtet sind */
}

.Coins img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.streak {
    display: table; /* Stellt sicher, dass das Element nur so breit ist wie der Inhalt */
    font-size: 1.2em;
    color: #e9492c;
    margin-bottom: 1em;
    margin-left: 5%;
    padding: 10px;
    border-radius: 20px;
    outline: 2px solid #e9492c;
    white-space: nowrap; /* Verhindert Zeilenumbruch innerhalb des Elements */
    width:calc(42.5% - 20px);
}

.streak img, .streak a {
    display: table-cell; /* Macht die Kinder-Elemente zu Zellen */
    vertical-align: middle; /* Stellt sicher, dass die Inhalte vertikal mittig ausgerichtet sind */
}

.streak img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.Anzeige {
    display: flex;
}

/* belohnung.css */

.Coins a, .streak a {
    animation: countUp 0.5s ease-out;
}
