@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

body {
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--background-color);  
}


header {
    background-color: var(--background-color);
    padding: 5%;
    padding-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress-bar-wrapper {
    width: 100%;
    margin: 1em auto;
}

.progress-bar {
    background-color: var(--line-color);
    border-radius: 25px;
    overflow: hidden;
    width: 100%;
    height: 1.3em;
}

.progress {
    background: linear-gradient(to right, #7948ff, #512aff);
    height: 100%;
    width: 0%;
    transition: width 1s ease-in-out;
    border-radius: 20px;
}

.category-difficulty {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.category {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.category2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.category-icon {
    width: 1.8em;
    margin-right: 10px;
}

.category-text {
    font-size: 1.4em;
    color: #e48d45;
    text-decoration: none;
}

.difficulty {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.difficulty-block {
    width: 0.4em;
    height: 1.8em;
    background-color: #5EFC8D;
    border-radius: 5px;
    margin-left: 5px;
}

.difficulty-block {
    width: 0.4em;
    height: 1.2em;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #C3C3C3; /* Standardfarbe */
}

.difficulty-block.leicht {
    background-color: #5EFC8D;
}

.difficulty-block.mittel {
    background-color: #E5E55E;
}

.difficulty-block.schwer {
    background-color: #E58A5E;
}

.difficulty-block.extrem {
    background-color: #E55E5E;
}

.category-difficulty2 {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.category-icon2 {
    width: 1.8em;
    margin-right: 10px;
}

.category-text2 {
    font-size: 1.4em;
    color: #e48d45;
    text-decoration: none;
}

.difficulty2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.difficulty-block2 {
    width: 0.4em;
    height: 1.8em;
    background-color: #5EFC8D;
    border-radius: 5px;
    margin-left: 5px;
}

.difficulty-block2 {
    width: 0.4em;
    height: 1.2em;
    margin-left: 5px;
    border-radius: 5px;
    background-color: #C3C3C3; /* Standardfarbe */
}

.difficulty-block2.leicht {
    background-color: #5EFC8D;
}

.difficulty-block2.mittel {
    background-color: #E5E55E;
}

.difficulty-block2.schwer {
    background-color: #E58A5E;
}

.difficulty-block2.extrem {
    background-color: #E55E5E;
}

.header-content {
    display: flex;
    align-items: center;
}

.home-button{
    height: var(--icon-size);
    width: var(--icon-size);
    margin-right: 1em;
    filter: invert(0%);
}

.home-button img{
    height: var(--icon-size);
    width: var(--icon-size);
    margin-right: 1em;
    filter: invert(0%);
}

.svg-icon {
    filter: invert(0%);
}

main {
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Anpassung der Höhe, um den gesamten Bildschirm abzudecken */
    box-sizing: border-box;
}

.question-wrapper {
    text-align: center;
}

.question2 {
    padding: 1em;
    font-size: var(--font-size-question);
    color: white;
    background-color: var(--background-color);
    border-radius: 20px;
    width: calc(90% - 2em);
    margin-left: 5%;
    outline: 2px solid var(--line-color);
}

.question1 {
    padding: 1em;
    font-size: var(--font-size-question);
    color: white;
    background-color: var(--background-color);
    border-radius: 20px;
    width: calc(90% - 2em);
    margin-left: 5%;
    outline: 2px solid var(--line-color);
}


.answers {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin-top: 20px;
    align-items: center;
}

.answer {
    background-color: var(--background-color);
    color: white;
    border: none;
    padding: 0.4em;
    border-radius: 20px;
    cursor: pointer;
    font-size: var(--font-size-awnsers);
    width: 90%;
    outline: 2px solid var(--line-color);
    font-family: "Dosis", sans-serif;
}


.answer-typed2 {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-input {
    margin-right: 3%;
    border-radius: 25px;
    background-color: var(--background-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    width: 90%;
    outline: 2px solid var(--line-color);
    font-family: "Dosis", sans-serif;
}

.fact {
    color: white;
    font-size: 1.1em;
    font-weight: normal;
    text-align: left;
}

.fact-box {
    background-color: #38424b;
    border-radius: 20px;
    padding: 0.1rem 1rem;
    width: calc(90% - 2rem);
    margin: 0 auto;
    color: white; 
    font-weight: normal; 
    text-align: left;
    margin-bottom: 1.5rem; 
    margin-top: 0.8em;
}

.answer-box {
    background-color: #38424b;
    border-radius: 20px;
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    text-align: left;
    margin-top: 1em;
}



.next-button2 {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: var(--font-size-question);
    width: 90%; /* Breite auf 90% der Seite eingestellt */
    font-family: "Dosis", sans-serif;
}

.next-button-background {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 105;
    height: calc(3em + 3rem + 1.2rem);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.note-input {
    display: none;
    width: 90%;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #2f4957;
    background-color: #38424b;
    color: white;
    font-size: 1em;
    outline: none;
}

.wrong-answer {
    color: #F4154D;
    outline-color: #F4154D;
    transition: 0.2s ease-in-out;
}

.correct-answer {
    color: #5EFC8D;
    outline-color: #5EFC8D;
    transition: 0.2s ease-in-out;
}



.results {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 1em;
    padding-bottom: 3em;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.5s forwards;
    text-align: center; /* Zentriert den Inhalt horizontal */
}

.results.correct {
    background-color: var(--background-color);
    border-top: 2px solid var(--line-color);
    transform: translateY(0px);
    display: block;
}

.results.wrong {
    background-color: var(--background-color);
    border-top: 2px solid var(--line-color);
    transform: translateY(0px);
    display: block;
}

.results2 {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 1em;
    padding-bottom: 3em;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    animation: slideUp 0.5s forwards;
    text-align: center; /* Zentriert den Inhalt horizontal */
}

.results2.correct {
    background-color: var(--background-color);
    border-top: 2px solid var(--line-color);
    transform: translateY(0px);
    display: block;
}

.results2.wrong {
    background-color: var(--background-color);
    border-top: 2px solid var(--line-color);
    transform: translateY(0px);
    display: block;
}


.correct-button {
    background-color: #e48d45;
    color: white;
}

.wrong-button {
    background-color: var(--button-color);
    color: white;
}

@keyframes slideUp {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}








.answers2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}

.answer2 {
    background-color: var(--background-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: var(--font-size-question);
    width: 90%;
    outline: 3px solid var(--line-color);
    font-family: "Dosis", sans-serif;
}

.answer2:hover {
    background-color: var(--line-color);
}

.answer2:active {
    background-color: #6e6e6e;
}

.answer2-typed {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
}

.container2 {
    border-radius: 25px;
    background-color: var(--background-color);
    color: white;
    border: none;
    border-radius: 20px;
    font-size: var(--font-size-question);
    width: calc(90vw - 3.5em);
    font-family: "Dosis", sans-serif;
    outline: 3px solid var(--line-color);
    transition: background-color 0.3s;
}

.text-input2 {
    color: white;
    font-size: var(--font-size-question);
    border: none;
    background-color: var(--background-color);
    outline: none;
    width: calc(100% - 7.5em);
}

.text-input2::placeholder {
    font-family: "Dosis", sans-serif;
    color: var(--line-color);
    font-size: 1em;
}

.text-input2:-ms-input-placeholder {
    font-family: "Dosis", sans-serif;
    color: var(--line-color);
}

.text-input2::-ms-input-placeholder {
    font-family: "Dosis", sans-serif;
    color: var(--line-color);
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.container2 input[type="text"] {
    flex-grow: 1;
    font-size: 1em;
    padding: 0.7em 0.7em;
}

.container2 img {
    height: 1.5em;
    margin-right: 0.4em;
    cursor: pointer;
    z-index: 30;
}

.container2.correct {
    background-color: var(--background-color);
    outline-color: #40b062;
}

.container2.incorrect {
    background-color: var(--background-color);
    outline-color: #b42727;
}

.mic-button.correct {
    background-color: #40b062;
    box-shadow: 0px 6px 0px 0px rgb(43, 88, 49);
}

.mic-button.incorrect {
    background-color: #b42727;
    box-shadow: 0px 6px 0px 0px rgb(110, 19, 19);
}

.mic-button {
    margin-left: 0.5em;
    background-color: #38424b;
    color: white;
    border: none;
    padding: 0.3em 0.5em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1.6em;
    font-family: "Dosis", sans-serif;
    box-shadow: 0px 6px 0px 0px rgb(38, 46, 49);
}

.mic-button:active {
    box-shadow: none;
    transform: translateY(6px);
}

.mic-button img {
    width: 1.7em;
    height: 1.7em;
}

.volume-bars2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    max-height: 1em;
    margin-bottom: 20px;
    width: 10em;
}

.bar2 {
    height: 5px;
    width: 1em;
    background-color: #ffffff;
    border-radius: 0.7em;
    transition: height 0.1s;
}

.bars-content2 {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    padding-bottom: calc(5em + 3em + var(--font-size-question));
}

.note-input2,
.answer-box2,
.fact-box2 {
    width: 90%;
    margin: 10px auto;
    padding: 0.5em;
    border-radius: 10px;
    background-color: #38424b;
    color: white;
    font-size: 1em;
    outline: none;
    text-align: left;
}

.note-input2{
    display: none;
}

.fact2 {
    color: white;
    font-size: 1.1em;
    font-weight: normal;
    text-align: left;
    padding-left: calc(10% - 1em);
    padding-right: calc(8% - 1em);
}

.fact-box2 {
    margin-bottom: 2em;
    margin-top: 0.8em;
}

.answer-box2 {
    font-weight: bold;
    margin-top: 1em;
}

.correct-answer2 {
    display: block;
    color: white;
    font-size: 1.4em;
    font-weight: bold;
    text-align: left;
    padding: 0.4em 5%;
}

.correct-answer2 .highlight {
    color: #3df574;
}

.correct-answer2.incorrect .highlight {
    color: #e92f2f;
}

.next-button-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color);
    outline: 2px solid #38424b;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 6em;
}

.next-button-wrapper.correct,
.next-button-wrapper.incorrect {
    transform: translateY(0);
    display: flex;
}

.next-button-background2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--background-color); /* Passe die Farbe nach Bedarf an */
    z-index: 105; /* Höher als der Wrapper, aber niedriger als der Button */
    height: calc(3em + 3rem); /* Etwas höher, um den Button zu umschließen */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


#next-button2.active {
    background-color: var(--button-color);
    box-shadow: 0px 6px 0px 0px rgb(146, 65, 7);
}

#next-button2.correct {
    background-color: #40b062;
    box-shadow: 0px 6px 0px 0px rgb(43, 88, 49);
}

#next-button2incorrect {
    background-color: #b42727;
    box-shadow: 0px 6px 0px 0px rgb(110, 19, 19);
}

#next-button2:not([disabled]) {
    color: white;
    cursor: pointer;
}

#next-button-wrapper2.show {
    display: flex;
}

#next-button {
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 1.2rem;
    background-color: #38424b;
    box-shadow: 0px 6px 0px 0px rgb(38, 46, 49);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    width: 90%;
    font-family: "Dosis", sans-serif;
    position: relative; /* Button bleibt an seiner Position */
    z-index: 110; /* Höchster Z-Index, damit der Button immer oben ist */
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}