@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

body {
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;  /* Ermöglicht das Scrollen */
    font-size: var(--font-size-question);
}

#spieler-container {
    width: 90%;
    padding-left: 5%;
    padding-top: 7%;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 7%; /* Abstand zu den Input-Feldern */
}

.back-arrow {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 2rem;
    margin-right: 0.2rem;
    width:2rem;
    height: 2rem;
}

.pfeil{
    height: 2rem;
    width: 2rem;
}

.erklärung {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    font-size: var(--font-size-header);
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px; /* Abstand zwischen den Spielern */
    width: 100%; /* Anpassung an Handyformat */
}

.spieler-name {
    border:none;
    padding: 1rem 1.4rem;
    background-color:  var(--background-color);
    color: white;
    width: 60%; /* Anpassung an Handyformat */
    font-family: "Dosis", sans-serif;
    outline: none;
    border-radius: 1rem;
    font-size: var(--font-size-question);
}

.schwierigkeit-button {
    background-color:  var(--background-color);
    color: white;
    border: 2px solid #484848;
    padding: 10px;
    border-radius: 1rem;
    cursor: pointer;
    width: 40%; /* Anpassung an Handyformat */
    font-family: "Dosis", sans-serif;
    outline: none;
    outline-offset: -4px;
    font-size: var(--font-size-question);
}

.input-wrapper {
    display: flex;
    border-radius: 1rem;
    border: 2px solid #484848;
    width: 100%;
    align-items: center;
}

.kreuz{
    width: 2.6rem;
    height: 2.6rem;
}

.plus-minus-buttons {
    justify-content: center;
    display: flex;
    width: 90%;
    margin-left: 5%;
    padding-bottom: calc( 30vh + 2em);
}

.plus{
    width: 1.6rem;
}
.minus{
    width: 1.6rem;
}

#add-player-button, #remove-player-button {
    background-color:  var(--background-color);
    color: white;
    padding: 0.6em;
    border-radius: 1.7em;
    cursor: pointer;
    font-size: 1em;
    font-family: "Dosis", sans-serif;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-player-button{
    border:none;
    background-color: rgb(27, 143, 79);
}
#remove-player-button{
    border:none;
    background-color: rgb(181, 26, 26);
}

#add-player-button{
    margin-left: 0.6rem;
}

.overlay-background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(14% + 5.8rem); /* Passt die Höhe an, um den Bereich abzudecken */
    background-color:  var(--background-color);
    z-index: 900; /* Unter dem Question Regler und dem Button */
    outline: 2px solid #484848;
}

.question-regler-container {
    position: fixed;
    bottom: 13%; /* Verschiebt das Feld höher */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    width: 90%; /* 90% der Bildschirmbreite */
}

.question-regler-text {
    font-size: 1em; /* Kleine Schriftgröße */
    color: white;
    margin-bottom: 5px; /* Abstand zum Regler */
    text-align: center;
}

.question-regler {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  var(--background-color);
    border-radius: 20px; /* Abgerundete Ecken */
    
}

.design{
    border-radius: 20px; /* Abgerundete Ecken */
    padding-right: 1rem; /* Kleineres Padding */
    width: calc(90% - 1rem);
}

.arrow-button {
    background-color:  var(--background-color);
    color: white;
    border: none;
    padding: 3px; /* Kleineres Padding */
    cursor: pointer;
    outline: none;
    position: relative;
}

#increase-button::before {
    content: "";
    position: absolute;
    top: -1rem;    /* Erweiterung nach oben */
    left: -1rem;  /* Erweiterung nach rechts */
    bottom: -1rem; /* Erweiterung nach unten */
    right: -5rem;   /* Erweiterung nach links */
    z-index: 1;   /* Sicherstellen, dass das Pseudo-Element unter dem Button bleibt */
}
#decrease-button::before {
    content: "";
    position: absolute;
    top: -1rem;    /* Erweiterung nach oben */
    left: -5rem;  /* Erweiterung nach rechts */
    bottom: -1rem; /* Erweiterung nach unten */
    right: -1rem;   /* Erweiterung nach links */
    z-index: 1;   /* Sicherstellen, dass das Pseudo-Element unter dem Button bleibt */
}
.back-arrow::before {
    content: "";
    position: absolute;
    top: -1rem;    /* Erweiterung nach oben */
    left: -1.5rem;  /* Erweiterung nach rechts */
    bottom: -1rem; /* Erweiterung nach unten */
    right: -3rem;   /* Erweiterung nach links */
    z-index: 1;   /* Sicherstellen, dass das Pseudo-Element unter dem Button bleibt */
}

#question-count { /* Kleinere Schriftgröße */
    margin: 0 10px; /* Kleinerer Abstand */
    color: white;
}

.button {
    position: fixed;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: calc(90% - 10px); /* 90% der Bildschirmbreite minus Padding */
}

.next-button {
    background-color: #e48d45;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    font-family: "Dosis", sans-serif;
    outline-offset: -4px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    width: 100%; /* 100% des übergeordneten Containers */
}

.disabled-button {
    background-color: grey;
    cursor: not-allowed;
}

.next-button-kategorien {
    background-color: #e48d45;
    color: white;
    font-size: var(--font-size-button);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Dosis", sans-serif;
    outline-offset: -4px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
    width: 100%; /* 100% des übergeordneten Containers */
}