@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Verhindert horizontales und vertikales Scrollen */
    font-family: "Dosis", sans-serif;
    background-color: #141F25;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Für die absolute Positionierung des Back Arrows und des Settings Icons */
}

.settings-icon {
    position: absolute;
    top: 5vw; /* Abstand vom oberen Rand */
    right: 5vw; /* Abstand vom rechten Rand */
    cursor: pointer;
    width: 2.3rem;
    height: 2.3rem;
}

.settings-icon img {
    height: 2.3rem;
}


body {
    opacity: 1; /* Standardzustand */
}


.Profilbild-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5%;
}

.Profilbild-container a {
    display: block;
}

.Profilbild-groß {
    width: 50vw; /* Größe des Profilbildes anpassen */
    object-fit: cover;
}

.Benutzerdaten {
    width: 90%;
    display: block;
    justify-content: center;
    outline: 3px solid #2f4957;
    background-color: #141F25;
    border-radius: 1rem;
}

.tabs{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:0.8rem;
}

.name{
    padding: 0.5rem;
    font-size: 1.6rem;
}

.tab-register, .tab-login{
    border-bottom: none;
    background-color: #141F25;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 1rem;
    font-family: "Dosis", sans-serif;
    color:#65757d;
}
.tab-register.active, .tab-login.active{
    border-bottom: 3px solid #2f4957;
}





.Benutzername,  .E-Mail, .Passwort{
    width: calc(100% - 1.8rem);
    color: white;
    background-color: #141F25;
    border: none;
    justify-content: center;
    padding: 0.9rem;
    font-size: 1.6em;
    font-family: "Dosis", sans-serif;
}

.Benutzername,  .E-Mail{
    border-bottom: 2px solid #2f4957;
}

.submit-btn{
    color: white;
    border: none;
    padding: 0.7rem;
    margin-bottom: calc(0.8rem + 6px);
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: "Dosis", sans-serif;
    box-shadow: 0px 6px 0px 0px rgb(21, 112, 62);
    width: calc(90%);
    margin-left: 5%;
    cursor: pointer;
    border:none;
    background-color: rgb(27, 143, 79);
}

.Übersicht {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #141F25;
    border: 3px solid #2f4957;
    border-radius: 15px;
    padding: 1em 0em;
    width: 90%;
    margin-top: 20px;
}

.XP, .Coins, .Streak {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    position: relative;
}

.XP::after, .Coins::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px; /* Schmalere Trennstriche */
    background-color: #2f4957;
}

.XP::after {
    right: 0;
}

.Coins::after {
    right: 0;
}

.XP img, .Coins img, .Streak img {
    width: 2.3em;
}

.XP span, .Coins span, .Streak span {
    font-size: 1.6em;
    padding-top: 5px;
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #141F25;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    padding-bottom: 2em;
    border-top: 3px solid #2f4957;
}

.nav-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.nav-button img {
    width: 2.3em;
    height: 2.3em;
    color: white;
}

.nav-button:hover {
    background-color: #e48d45;
}


.XP-Pfad-Container {
    justify-content: center;
    margin-top: 20px;
    width: 90%;
}

.xp-pfad-button {
    display:block;
    background-color: #141F25;
    color: white;
    text-decoration: none;
    border: 3px solid #2f4957;
    border-radius: 15px;
    padding: 15px 20px;
    font-size: 1.5em;
    font-family: "Dosis", sans-serif;
    cursor: pointer;
}

.xp-pfad-button:active {
    background-color: #e48d45;
    box-shadow: none;
    transform: translateY(4px);
}

#einstellung {
    display: block;
    background-color: #141F25;
    text-decoration: none;
    border: 3px solid #2f4957;
    border-radius: 15px;
    padding: 0.6rem 0.6rem;
    font-size: 1.5em;
    font-family: "Dosis", sans-serif;
    width: calc(90vw - 1.4rem);
    margin-top: 1rem;
    margin-left: 5vw;
}

.ausloggen{
    color: #c52323;
    text-align: center;
}

.einstellungen{
    width:100%;
    margin-top:4.5rem;
}

