@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

html, body {overflow-x: hidden;
    height: 100%; /* Stellt sicher, dass der Body die volle Höhe hat */
    margin: 0;
    font-family: "Dosis", sans-serif;
}

main {
    display: flex;
    flex-direction: column; /* Stellt sicher, dass die Elemente untereinander sind */
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    height: calc(100% - 7% - var(--font-size-header))
}

.header {
    padding-left: 7.5%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--background-color);
    padding-top: 7%;
}

.back-arrow {
    z-index: 999999;
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 2rem;
    margin-right: 0.2rem;
    width:2rem;
    height: 2rem;
}

.pfeil {
    height: 2rem;
    width: 2rem;
}

.Überschrift {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    font-size: var(--font-size-header);
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
    width: 100%;
}

.difficulty-button1,
.difficulty-button2,
.difficulty-button3,
.difficulty-button4,
.difficulty-button5 {
    background-color: #38424b;
    color: white;
    border: none;
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;
    font-size: 1.6em;
    font-family: "Dosis", sans-serif;
    width: 90%; /* 90% der Breite */
    box-shadow: 0px 6px 0px 0px rgb(38, 46, 49);
    max-width: 400px;
}

.difficulty-button1 {
    color: #5EFC8D;
}

.difficulty-button2 {
    color: #E5E55E;
}

.difficulty-button3 {
    color: #E58A5E;
}

.difficulty-button4 {
    color: #E55E5E;
}

.difficulty-button5 {
    color: #d969e7;
}

.difficulty-button1:active,
.difficulty-button2:active,
.difficulty-button3:active,
.difficulty-button4:active {
    box-shadow: none;
    transform: translateY(6px);
}
