
:root {
    --background-color: #141F25;
    --line-color: #45545c;
    --button-color: #f1730c;
    --button-shade-color: 146, 65, 7;
    --font-size-header: 1.9rem;
    --font-size-question: 1.5rem;
    --font-size-awnsers: 1.3rem;
    --font-size-button: 1.6rem;
    --icon-size:2.3em;
}

.next-button {
    background-color: #f1730c;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-family: "Dosis", sans-serif;
    box-shadow: 0px 6px 0px 0px rgb(146, 65, 7);
}

#next-button {
    background-color: #f1730c;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-family: "Dosis", sans-serif;
    box-shadow: 0px 6px 0px 0px rgb(146, 65, 7);
}

.next-button:active {
    box-shadow: none;
}


body {
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141F25;
    height: 100vh;
}

.global-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.global-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
    z-index: 1000;
    text-align: center;
}

.global-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.global-close {
    cursor: pointer;
    font-size: 24px;
    color: #555;
}

.global-modal-content {
    margin-bottom: 15px;
}

.global-modal-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-top: 10px;
}

.global-modal-footer {
    margin-top: 10px;
}

.global-ok-button {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.global-ok-button:hover {
    background: #0056b3;
}

