@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

body {
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141F25;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Inhalte am unteren Rand ausrichten */
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1.4rem;
    margin-bottom: 8em; /* Vergrößerter Abstand zur Navigationsleiste */
}

.top-bar-content{
    display:none;
}




.top-bar {
    position: fixed;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 88%;
    background-color: #141F25;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    z-index: 1000;
    transition: height 0.3s ease;
}

.top-bar-icons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Keine Umrandung im Standardzustand */
.top-bar-content {
    display: none;
    width: 100%;
    background-color: #141F25;
    color: white;
    text-align: left;
    border-radius: 12px;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 8px;
    margin-top: 10px;
    border: 3px solid #2f4957;
}

.streak-button {
    display: flex;
    align-items: center;
    background-color: #2f4957;
    border: none;
    padding: 5px;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.3s ease;
}


.streak-button:active {
    transform: scale(0.95);
}


.streak-icon{
    width: 20px;
}


.streak-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.streak-header p {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}



.XP-Pfad-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Abstand nach oben */
    width: 100%; /* Breite der Top-Bar */
}

/* XP-Pfad-Button */
.xp-pfad-button {
    background-color: #141F25;
    color: white;
    text-decoration: none;
    border: 2px solid #2f4957;
    border-radius: 10px;
    padding-top: 25px;
    padding: 10px 10px;
    font-size: 1.2em;
    font-family: "Dosis", sans-serif;
    text-align: left;
    width: 90%; /* Breite anpassen */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

/* Interaktionsstil für den Button */
.xp-pfad-button:hover {
    background-color: #2f4957;
}

.xp-pfad-button:active {
    background-color: #e48d45;
    box-shadow: none;
    transform: translateY(4px);
}





.stat {
    display: flex;
    align-items: center;
    color: white;
    font-family: "Dosis", sans-serif;
}

.streak-img {
    width: 32px;
    height: 32px;
    margin-right: 4px;
}

.coins-img {
    width: 31px;
    height: 31px;
    margin-right: 4px;
}

.xp-img {
    width: 30px;
    height: 30px;
    margin-right: 4px;
}

.notifications-img {
    width: 27px;
    height: 27px;
    margin-right: 4px;
}

.stat-value {
    font-size: 1.4em;
}








.week-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 28px;
    color: white;
}

.week-calendar .days {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 0.9em;
}

.week-calendar .day {
    flex: 1;
    text-align: center;
    font-size: 1.1em;
    align-items: center;
    justify-content: center;
    display: flex;
}

.week-calendar .day-row {
    display: flex;
    width: 100%;
    margin-top: 5px;
    background-color: #2f4957;
    border-radius: 3rem;
}

.week-calendar .day div {
    border-radius: 3rem;
    padding: 0.15rem;
    font-size: 0.95em;
    color: white;
    width: 100%;
}




.week-calendar .day div.current-day {
    background-color: #4f7d95;
    color: #ffffff;
    font-weight: bold;
}

.week-calendar .day div.streak-done.first {
    border-radius: 0;
    background: linear-gradient(90deg, rgba(139, 69, 19, 0.8), rgba(190, 90, 40, 0.8)); /* Braun -> Dunkles Orange-Braun */
    color: white;
    font-weight: bold;
}

.week-calendar .day div.streak-done.second {
    border-radius: 0;
    background: linear-gradient(90deg, rgba(190, 90, 40, 0.8), rgba(215, 110, 45, 0.8)); /* Dunkles Orange-Braun -> Warmes Orange */
    color: white;
    font-weight: bold;
}

.week-calendar .day div.streak-done.third {
    border-radius: 0;
    background: linear-gradient(90deg, rgba(215, 110, 45, 0.8), rgba(235, 130, 50, 0.8)); /* Warmes Orange -> Sattes Orange */
    color: white;
    font-weight: bold;
}

.week-calendar .day div.streak-done.fourth {
    border-radius: 0;
    background: linear-gradient(90deg, rgba(235, 130, 50, 0.8), rgba(245, 100, 40, 0.8)); /* Sattes Orange -> Kräftiges Orange-Rot */
    color: white;
    font-weight: bold;
}

.week-calendar .day div.streak-done.second.fifth {
    border-radius: 0;
    background: rgba(245, 100, 40, 0.8); /* Endstufe in Orange-Rot */
    color: white;
    font-weight: bold;
}

#end{
    border-top-right-radius: 3rem !important;
    border-bottom-right-radius: 3rem !important;
}

#start{
    border-top-left-radius: 3rem !important;
    border-bottom-left-radius: 3rem !important;
}

#start-end{
    border-radius: 3rem !important;
}

#streak-freeze-start{
    border-top-left-radius: 3rem !important;
    border-bottom-left-radius: 3rem !important;
}

#streak-freeze-end{
    border-top-right-radius: 3rem !important;
    border-bottom-right-radius: 3rem !important;
}

#streak-freeze-start-end{
    border-radius: 3rem !important;
}

.week-calendar .day #streak-freeze, .week-calendar .day #streak-freeze-start, .week-calendar .day #streak-freeze-end, .week-calendar .day #streak-freeze-start-end {
    border-radius:0;
    left: 0;
    width: 100%;
    position: relative;
    color: #2f4957;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    z-index: 1; /* Text bleibt über dem Hintergrund */
}

.week-calendar .day #streak-freeze::before, .week-calendar .day #streak-freeze-start::before, .week-calendar .day #streak-freeze-end::before, .week-calendar .day #streak-freeze-start-end::before {
    content: "";
    position: absolute;
    top: -35%; /* Falls es über den Rand hinausragen soll */
    bottom: -35%;
    left:10%;
    right: 10%;
    background-image: url('ice.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120% auto;
    transform: rotate(45deg); /* Hier kannst du den Winkel anpassen */
    z-index: -1; /* Bild bleibt im Hintergrund */
}






















.animated-button {
    background-color: #fa8e29;
    color: white;
    border: none;
    padding: 1.2em 0.8rem;
    border-radius: 1em;
    font-size: 1.6em;
    width: 90%;
    font-family: "Dosis", sans-serif;
    box-shadow: 0px 6px 0px 0px #bb691d;
    transition: transform 0.3s ease;
    position: relative;
}

.animated-button:active {
    box-shadow: none;
    top: 6px;
    transform: translate(0, 0); 
}

.nav-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #141F25;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
    padding-bottom: 2em;
    border-top: 3px solid #2f4957;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.3);
}

.nav-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2.3em;
    height: 2.3em;
    background-color: #141F25;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.nav-button img {
    width: 2.3em;
    height: 2.3em;
    color: white;
}



.notification-dot {
    display: none;
    position: absolute;
    top: -0.4rem; /* Abstand von oben */
    right: -8px; /* Abstand von rechts */
    background-color: rgb(237, 73, 73); /* Hintergrundfarbe */
    border-radius: 1.5rem; /* Rundung für den Punkt */
    padding: 0.3rem 0.6rem; /* Seitenabstand */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Optionaler Schatten */
    color: white; /* Schriftfarbe */
    font-size: 1rem; /* Schriftgröße */
    font-weight: bold; /* Fettschrift */
    text-align: center; /* Textausrichtung */
    display: flex; /* Flexbox für Zentrierung */
    justify-content: center; /* Horizontale Zentrierung */
    align-items: center; /* Vertikale Zentrierung */
    min-width: 1.1rem; /* Mindestbreite für Ein-Zeichen-Zahlen */
    height: 1.6rem; /* Feste Höhe */
    line-height: 1.5rem; /* Setzt die Zeilenhöhe auf die Schriftgröße */
    white-space: nowrap; /* Verhindert Zeilenumbrüche */
    vertical-align: middle; /* Zusätzliche Sicherstellung */
}

.Fehler-container {
    width: 90%;
    position: relative; /* Wichtiger Bezugspunkt für die roten Punkte */
    display: inline-block; /* Für korrekte Positionierung der Elemente */
}

.Fehler-container:active {
    transform: translateY(6px);
}

#fehler{
    width: 100%;
}
