@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap');

body {
    overflow-x: hidden;
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #141F25;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}


header {
    width: 75%;
    max-width: 20em;
    text-align: left;
    margin-top: 15%;
}

#spieler-container {
    width: 90%;
    padding-left: 5%;
    padding-top: 7%;
}

.header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 7%; /* Abstand zu den Input-Feldern */
}

.back-arrow {
    color: white;
    text-decoration: none;
    position: relative;
    font-size: 2rem;
    margin-right: 0.2rem;
    width: 2rem;
    height: 2rem;
    z-index: 999;
}

.pfeil {
    height: 2rem;
    width: 2rem;
}

.Überschrift {
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
    font-size: var(--font-size-header);
}

.Statistik-Container {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Fragen-Anzeige {
    width: 75vw;
    height: 75vw;
    position: relative;
    margin: 0 auto;
}

.Kreis-Anzeige {
    position: relative;
    width: 100%;
    height: 100%;
}

.circle-chart {
    width: 100%;
    height: 100%;
    transform: rotate(-90deg); /* Startpunkt bei oben */
}

.circle-bg {
    fill: none;
    stroke: #2f4957; /* Hintergrundfarbe */
    stroke-width: 2.8;
}

.circle-beantwortet {
    fill: none;
    stroke: #55859f; /* Farbe der beantworteten Fragen */
    stroke-width: 2.8;
    stroke-dasharray: 0, 100; /* Initiale Länge */
    transition: stroke-dasharray 0.5s ease;
}

.circle-richtig {
    fill: none;
    stroke: #3cc967; /* Farbe der richtigen Antworten */
    stroke-width: 2.8;
    stroke-dasharray: 0, 100; /* Initiale Länge */
    transition: stroke-dasharray 0.5s ease;
}

.circle-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.fragen-text{
    display: block;
}
#flex{
    display: flex;
}

.fragen-gesamt-farbe{
    width: 0.8rem;
    height: 1.2rem;
    background-color: #2f4957;
    border-radius: 1rem;
}

.fragen-beantwortet-farbe{
    width: 0.8rem;
    height: 1.2rem;
    background-color: #55859f;
    border-radius: 1rem;
    margin-bottom: 0.7rem;
}

.fragen-richtig-farbe{
    width: 0.8rem;
    height: 1.2rem;
    background-color: #3cc967;
    border-radius: 1rem;
    margin-bottom: 0.7rem;
}

#text{
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.kategorien-Graph{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141F25;
    padding-top: 0.5rem;
    width: 82%;
    margin-top: 2.5rem;
}

#icon{
    width: 1.6rem;
    margin-top: 0.5rem;
}

#kategorie1{
    width: 16.6667%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#balken{
    height: 6rem;
    width: 1.7rem;
    background-color: #21333d;
    border-top-left-radius: 0.4rem; /* Obere linke Ecke abrunden */
    border-top-right-radius: 0.4rem;
    display: flex;
    flex-direction: column; /* Elemente werden vertikal gestapelt */
    justify-content: flex-end;
}

#border{
    border-top: 3px solid #2f4957;
    width: 100%;
}

#richtig{
    width: 1.7rem;
    background-color: #21333d;
    border-top-left-radius: 0.4rem; /* Obere linke Ecke abrunden */
    border-top-right-radius: 0.4rem;
    background: #3abb61;
    transition: 0.5s ease;
}

#beantwortet{
    width: 1.7rem;
    background-color: #21333d;
    border-top-left-radius: 0.4rem; /* Obere linke Ecke abrunden */
    border-top-right-radius: 0.4rem;
    background: #3f6174;
    display: flex;
    flex-direction: column; /* Elemente werden vertikal gestapelt */
    justify-content: flex-end;
    transition: 0.5s ease;
}

.Schwachpunkt{
    width: auto;
    padding:0.7rem;
    border: 3px solid #2f4957;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 2.5rem;
    font-size: 1rem;
    width: calc(82% - 1.4rem);
    margin-bottom: 5rem;
}


.Ausrufezeichen{
    width: 1.5rem;
    margin-right: 0.7rem;
}

.difficulty-bar-container {
    position: relative;
    width: 82%;
    height: 1.4rem;
    border-radius: 15px;
    border: 3px solid #2f4957;
    overflow: visible; /* Ermöglicht das Hervorstehen des Balkens */
}

.overlay-bar {
    position: absolute;
    width: 8px; /* Sehr dünner Balken */
    height: calc(100% + 4px); /* 2px oben und unten über den Rand hinausragend */
    background-color: white;
    border-radius: 4px;
    top: -2px; /* Verschiebt den Balken nach oben */
}

.label {
    margin-top: 0.2rem;
    text-align: center;
    color: #ffffff;
}

#label{
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
}

.label{
    font-size: 1.1rem;
}

.difficulty-bar-container .strich {
    position: absolute;
    top: 0;
    width: 5px; /* Breite der Striche */
    height: 100%; /* Striche über die ganze Höhe */
    background-color: #2f4957; /* Farbe der Striche */
    z-index: -10;
}

/* Platzierung der Striche */
.strich-1 {
    left: 20%; /* 1. Strich */
}

.strich-2 {
    left: 40%; /* 2. Strich */
}

.strich-3 {
    left: 60%; /* 3. Strich */
}

.strich-4 {
    left: 80%; /* 4. Strich */
}

.streak-stats-container, .highest-streak-stats-container {
    display:block;
    background-color: #141F25;
    color: white;
    text-decoration: none;
    border: 3px solid #2f4957;
    border-radius: 15px;
    padding: 0.6rem 0.8rem;
    font-size: 1.5em;
    font-family: "Dosis", sans-serif;
    cursor: pointer;
    width: calc(33vw - 1.6rem);
}

.streak-stats-container{
    margin-right: 6vw;
}

.streak-stats{
    display: flex;
    align-items: left;
    margin-top: 1.5rem;
}

.streak-stats-anzeige{
    display:flex;
    align-items: center;
}

#streakicon{
    width: 1.6rem;
    height: 1.6rem;
}

.streak-stats-text{
    font-size: 0.9rem;
    text-align: left;
    padding-left: 0.3rem;
}

#number{
    font-size: 1.2rem;
}






.title {
    margin-bottom: 20px;
}

.graph-container {
    width: 98%;
    max-width: 600px;
    position: relative;
    touch-action: pan-x; /* Ermöglicht horizontales Swipen */
}

.week-label {
    font-size: 1.2em;
    margin: 10px;
    display: flex;
}

/* Tooltip */
.toggle-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f4957;
    border-radius: 10px 10px 0 0; /* Nur oben abgerundet */
    padding: 4px;
    width: 160px;
    padding-bottom:1px;
}

.toggle-button {
    flex: 1;
    padding: 6px 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 8px;
    color: white;
    background: transparent;
}

.toggle-button.active {
    background: #9f2fdf;
}

/* Tooltip */
.custom-tooltip {
    position: absolute;
    background: rgba(100, 100, 100, 0.9);
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    transform: translate(-50%, -100%);
    white-space: nowrap;
    display: none;
}
#dot {
    border-radius: 5px;
    width: 8px;
    height: 8px;
    background: #55595f;
}
.dot1 ,.dot2 , .dot3, .dot4, .dot5, .dot6{
    margin-right: 4px;
}

.xp-pfad {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #141F25;
    color: white;
    text-decoration: none;
    border: 3px solid #2f4957;
    border-radius: 15px;
    padding: 0.8rem 0.3rem;
    padding-bottom:0rem;
    font-size: 1.5em;
    font-family: "Dosis", sans-serif;
    width: calc(82% - 0.6rem);
}







