/* Grundlegendes Styling */
body {
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141F25;
    color: white;
    overflow-y: scroll;
}


#spieler-container {
padding-left: 5%;
padding-bottom: 8%; 
text-align: center;
}

.header {
display: flex;
align-items: center;
gap: 15px;
position: fixed;
top: 0; /* Abstand vom oberen Rand */
width: 100%;
z-index: 1000;
padding-top: 10px;
padding-bottom: 10px;
background-color: #141F25;
border-bottom: 3px solid #2F4957;
}

.back-arrow {
color: white;
position: relative;
font-size: 2rem;
margin-right: 0.2rem;
width:2rem;
height: 2rem;
}

.pfeil{
height: 2rem;
width: 2rem;
}

.erklärung {
color: white;
position: absolute;
left: 50%;
transform: translateX(-50%);
width: 80%;
font-size: var(--font-size-header);
font-family: var(--font-family-header);
}



/* XP-Pfad Container */
.xp-pfad-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Teil1 {
    padding-top: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    gap: 100px;
}

/* Belohnungen */
.reward {
    width: 100px;
    height: 100px;
    background-color: #2F4957;
    border-radius: 10px;
}


/* Fortschrittsleiste */
.progress-bar {
    width: 15px;
    border-radius: 8px;
    background-color: #141F25;
    border: 5px solid #2F4957;
    height: 3000px;
}

.progress-bar .indicator {
    width: 15px;
    background-color: #E48D45;
    transition: height 0.5s ease;
    border-radius: 4px;
}


/* XP-Anzeige */
.xp-display {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
    background-color: #303031;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Testbutton */
.test-button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E48D45;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}